{
    "overrides": [
      {
        "files": ["**/*.ts", "**/*.js", "**/*.tsx"],
        "options": {
          "parser": "typescript",
          "singleQuote": true,
          "printWidth": 80
        }
      },
      {
        "files": "**/*.scss",
        "options": {
          "parser": "css"
        }
      },
      {
        "files": "**/*.json",
        "options": {
          "parser": "json",
          "printWidth": 80
        }
      }
    ]
  }
  