.ReactModalPortal {
  position: relative;
  z-index: 100;
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.65) !important;
}

.ReactModal__Content {
  border: 0 !important;
  padding: 0 !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  overflow: visible;
  border-radius: 4px;
  outline: none;
}
